<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vngram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/property/home/home.css}">
</head>
<body>
<div class="container-fluid main-container">
    <div class="sidebar-left" style="width: 15%;margin-top: -3%;">
        <a href="/home"><h3 class="mb-3">𝓥𝓷𝓰𝓻𝓪𝓶</h3></a>
        <a class="link-icon ms-3" href="/home"><i class="fa-brands fa-instagram home icons2"></i><span>Trang chủ</span></a>
        <a class=" link-icon" href=""> <i class="fas fa-search icons2" title="Search"></i><span>Tìm kiếm</span></a>
        <a class=" link-icon" href=""> <i class="far fa-heart icons2" title="Likes"></i><span>Thông báo</span></a>
        <a class=" link-icon" href="/message"> <i class="fa-regular fa-message icons2"></i><span>Tin nhắn</span></a>
        <a class=" link-icon" th:href="@{/user/__${user.id}__}"> <i class="far fa-user icons2"
                                                                    title="Profile"></i><span>Trang cá nhân</span></a>
        <a class=" link-icon" style="margin-top: 100%" href="/logout"><i
                class="fa-solid fa-arrow-right-from-bracket icons2"
                title="Logout"></i><span>Đăng xuất</span></a>
    </div>
    <div class="content-area " style="margin-left: 34%;margin-top: -2%">
        <div class="feed-post mt-1 mb-5" th:each="postDTO,postIdx :${postDTOS}">
            <div class="post-header">
                <a th:href="@{/user/__${postDTO.user.id}__}">
                    <div style="width: 459px">
                        <img th:src="@{__${postDTO.user.profilePic}__}"
                             alt="Profile" class="profile-img">
                        <strong style="color: black" th:text="${postDTO.user.fullName}">Nguyễn Thị Tạch</strong>
                        <span class="fw-bold time" th:text="${postDTO.post.createdAt}">12 giờ</span>
                    </div>
                </a>
                <a href="">
                    <div class="dots-container">
                        <div class="dot"></div>
                    </div>
                </a>
            </div>
            <div th:id="'carouselExample_' + ${postIdx.index}" class="carousel slide" data-bs-ride="carousel">
                <a href="">
                    <div class="carousel-inner">
                        <th:block th:each="media,s :${postDTO.mediaList}">
                            <div th:class="'carousel-item' + ${s.count == 1 ? ' active':''}">
                                <img th:src="@{__${media.mediaUrl}__}"
                                     th:alt="'media '+${s.count}">
                            </div>
                        </th:block>
                        <button class="carousel-control-prev" type="button"
                                th:attr="data-bs-target='#carouselExample_' + ${postIdx.index}"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                                th:attr="data-bs-target='#carouselExample_' + ${postIdx.index}"
                                data-bs-slide="next" style="right: -9%;">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="post-footer " style="margin-left: -16px">
                <div class="post-actions " style="color: black">
                    <a href=""><i class="fa-solid fa-heart" style="color:red;display: none"></i></a>
                    <a href=""><i class="bi bi-heart" style="display: inline-block"></i></a>
                    <a href=""><i class="bi bi-chat"></i></a>
                    <a href=""><i class="bi bi-send"></i></a>
                </div>
                <div>
                    <p class="likes" th:text="${postDTO.like} + ' Likes'">250 likes</p>
                    <p class="desc"><strong th:text="${postDTO.post.title}">Hôm nay buồn quá mọi người ạ 🥲 </strong></p>
                    <span class="desc" th:text="${postDTO.post.content}">Chuyện là hôm qua em mới chia tay người yêu Em buồn quá em đi học code.Có cái code khó quá em học không
                    được em buồn nữa </span>
                </div>
                <div class="mt-3"><a
                        th:href="@{/comments/view/__${postDTO.post.getId()}__/__${postDTO.user.fullName}__}"
                        style="color:#737373 ;"> xem tất cả <span th:text="${postDTO.commentList.size()}">300</span>
                    bình luận</a></div>
            </div>
        </div>

    </div>
    <div class="sidebar-right" style="width: 15%;margin-top:-2%">
        <a th:href="@{/user/__${user.id}__}">
            <div class="user-profile">
                <img th:src="@{__${user.profilePic}__}" alt="avatar">
                <div>
                    <strong th:text="${user.fullName}">Lọ Lem 006</strong><br>
                    <small th:text="${user.email}">@Nguyễn Thị Vỹ</small>
                </div>
            </div>
        </a>
        <div class="suggestions">
            <p class="fw-bold" style="color:#737373 ;">Gợi ý cho bạn</p>
            <th:block th:each="usert :${top4User}">
                <a th:href="@{/user/__${usert.id}__}">
                    <div class="suggestion-item">
                        <img th:src="@{__${usert.profilePic}__}" alt="">
                        <div>
                            <strong th:text="${usert.fullName}">Linh Lòng</strong><br>
                            <small th:text="${usert.email}">@Hoàng Thị Linh</small>
                        </div>
                    </div>
                </a>
            </th:block>
            <div>
                <a href=""><p class="fw-bold" style="color:#737373 ;margin-top: 30px">Xem tất cả</p></a>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll('.suggestion-item');
        const maxVisible = 4;
        items.forEach((item, index) => {
            if (index < maxVisible) {
                item.parentElement.style.display = 'block';
            } else {
                item.parentElement.style.display = 'none';
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>