<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vngram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/property/home/home.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/property/like/like.css}">
</head>
<body>
<div class="container-fluid main-container">
    <div class="sidebar-left" style="width: 15%;margin-top: -3%;">
        <a href="/home"><h3 class="mb-3">𝓥𝓷𝓰𝓻𝓪𝓶</h3></a>
        <a class="link-icon ms-3" href="/home"><i class="fa-brands fa-instagram home icons2"></i><span
                style="font-weight: bold">Trang chủ</span></a>
        <a class="link-icon" href="/friendship/search"> <i class="fas fa-search icons2" title="Search"></i><span>Tìm kiếm</span></a>
        <a class="link-icon notification" href="/notification"> <i class="far fa-heart icons2"
                                                                   title="Likes"></i><span>Thông báo</span>
            <th:block th:if="${newNotify > 0}">
                <span class="notification-badge" th:text="${newNotify}">6</span>
            </th:block>
        </a>
        <a class="link-icon notification" href="/message">
            <i class="fa-regular fa-message icons2"></i>
            <span>Tin nhắn</span>
            <th:block th:if="${newMessages > 0}">
                <span class="notification-badge" th:text="${newMessages}">5</span>
            </th:block>
        </a>
        <a class="link-icon" th:href="@{/user/__${user.id}__}"> <i class="far fa-user icons2"
                                                                   title="Profile"></i><span>Trang cá nhân</span></a>
        <a class="link-icon" style="margin-top: 100%" href="/logout"><i
                class="fa-solid fa-arrow-right-from-bracket icons2"
                title="Logout"></i><span>Đăng xuất</span></a>
    </div>
    <div class="content-area" style="margin-left: 34%;margin-top: -2%">
        <div class="feed-post mt-1 mb-5" th:each="postDTO,postIdx :${postDTOS}">
            <div class="post-header">
                <a th:href="@{/user/__${postDTO.user.id}__}">
                    <div style="width: 459px">
                        <img th:src="@{__${postDTO.user.profilePic}__}"
                             alt="Profile" class="profile-img">
                        <strong style="color: black" th:text="${postDTO.user.fullName}">Nguyễn Thị Tạch</strong>
                        <span class="fw-bold time" th:text="${postDTO.post.createdAt}">12 giờ</span>
                    </div>
                </a>
                <a href="#" data-bs-toggle="modal" th:data-bs-target="'#modal' + ${postDTO.post.id}">
                    <div class="dots-container">
                        <div class="dot"></div>
                    </div>
                </a>
            </div>
            <div th:id="'carouselExample_' + ${postIdx.index}" class="carousel slide">
                <div class="carousel-indicators">
                    <th:block th:each="media,s :${postDTO.mediaList}">
                        <button type="button" th:data-bs-target="'#carouselExample_' + ${s.index}"
                                th:data-bs-slide-to="${s.index}"
                                th:class="${s.index == 0 ? 'active' : ''}"
                                aria-current="true" th:aria-label="'Slide' + ${s.index}"></button>
                    </th:block>
                </div>
                <div class="carousel-inner">
                    <a th:href="@{/post/view/__${postDTO.post.id}__}">
                        <th:block th:each="media,s :${postDTO.mediaList}">
                            <div th:class="'carousel-item' + ${s.index == 0 ? ' active':''}">
                                <img th:src="@{__${media.mediaUrl}__}"
                                     th:alt="'media '+${s.count}">
                            </div>
                        </th:block>
                    </a>
                    <button class="carousel-control-prev" type="button"
                            th:attr="data-bs-target='#carouselExample_' + ${postIdx.index}"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                            th:attr="data-bs-target='#carouselExample_' + ${postIdx.index}"
                            data-bs-slide="next" style="right: -9%;">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="post-footer" style="margin-left: -16px">
                <div class="post-actions" style="color: black">
                    <a th:id="'is-like-' + ${postDTO.post.id}"
                       th:style="'display: ' + (${postDTO.like.contains(user) ? 'inline-block' : 'none'})">
                        <i class="fa-solid fa-heart" style="color:red"></i>
                    </a>
                    <a th:id="'un-like-' + ${postDTO.post.id}"
                       th:style="'display: ' + (${postDTO.like.contains(user) ? 'none' : 'inline-block'})">
                        <i class="bi bi-heart"></i>
                    </a>
                    <a href=""> <i class="bi bi-chat"></i></a>
                    <a href=""> <i class="bi bi-send"></i></a>
                </div>
                <div>
                    <p class="likes" th:id="'like-count-' + ${postDTO.post.id}"
                       th:text="${postDTO.like.size()} + ' likes'">0
                        likes</p>
                    <span class="desc" th:text="${postDTO.post.content}">Chuyện là hôm qua em mới chia tay người yêu Em buồn quá em đi học code.Có cái code khó quá em học không
                    được em buồn nữa </span>
                </div>
                <div class="mt-3"><a
                        th:href="@{/post/view/__${postDTO.post.id}__}"
                        style="color:#737373 ;"> xem tất cả <span th:text="${postDTO.commentList.size()}">300</span>
                    bình luận</a></div>
            </div>
            <div class="modal fade" th:id="'modal' + ${postDTO.post.id}" tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <th:block th:if="${user.id != postDTO.user.id}">
                                <a href="#">
                                    <div class="modal-a a1 text-center">
                                        Bỏ theo dõi
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="modal-a text-center">
                                        Ẩn bài viết
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="modal-a text-center">
                                        Báo cáo
                                    </div>
                                </a>
                            </th:block>
                            <th:block th:if="${user.id == postDTO.user.id}">
                                <a href="#">
                                    <div class="modal-a a1 text-center">
                                        Chỉnh sửa
                                    </div>
                                </a>
                                <a th:href="@{/post/delete/__${postDTO.post.id}__}">
                                    <div class="modal-a text-center">
                                        Xóa
                                    </div>
                                </a>
                            </th:block>
                            <a href="#" data-bs-dismiss="modal">
                                <div class="modal-a a1 text-center">
                                    Huỷ
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-right" style="width: 15%;margin-top:-2%">
        <a th:href="@{/user/__${user.id}__}">
            <div class="user-profile">
                <img th:src="@{__${user.profilePic}__}" alt="avatar">
                <div>
                    <strong th:text="${user.fullName}">Lọ Lem 006</strong><br>
                </div>
            </div>
        </a>
        <div class="suggestions">
            <p class="fw-bold" style="color:#737373 ;">Gợi ý cho bạn</p>
            <th:block th:each="usert :${top4User}">
                <a th:href="@{/user/__${usert.id}__}">
                    <div class="suggestion-item">
                        <img th:src="@{__${usert.profilePic}__}" alt="">
                        <div>
                            <strong th:text="${usert.fullName}">Linh Lòng</strong><br>
                        </div>
                    </div>
                </a>
            </th:block>
            <div>
                <a href="/friendship/search"><p class="fw-bold" style="color:#737373 ;margin-top: 30px">Xem tất cả</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="modal" class="l-modal">
    <div class="l-modal-content">
        <span class="close">&times;</span>
        <h2>Like</h2>
        <div style="width: 500px; height: 500px">
            <ul id="listLike">
            </ul>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    const timeElements = document.querySelectorAll('.time');
    // Lặp qua từng thẻ span và định dạng ngày tháng
    timeElements.forEach(element => {
        const createdAt = element.innerText; // Lấy giá trị ngày tháng
        const formattedTime = moment(createdAt).fromNow(); // Định dạng khoảng thời gian
        element.innerText = formattedTime; // Gán lại giá trị đã định dạng
    });
    var modal = document.getElementById("modal");
    var span = document.getElementsByClassName("close")[0];
    $(document).ready(function () {
        $('[id^="like-count"]').click(function () {
            const postId = this.id.split('-')[2];
            getListLike(postId);
        });
        $('[id^="is-like"]').click(function () {
            const postId = this.id.split('-')[2];
            like(postId);
        });
        $('[id^="un-like"]').click(function () {
            const postId = this.id.split('-')[2];
            like(postId);
        });
    });

    function like(postId) {
        $.ajax({
            url: "http://localhost:8080/api/like/likePost",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                id: postId
            }),
            success: function (data, status, xhr) {
                if (xhr.status === 200) {
                    updateLikeIcon(postId, "like")
                } else if (xhr.status === 204) {
                    updateLikeIcon(postId, "un-like")
                }
            }
        });
    }

    function updateLikeIcon(postId, status) {
        if (status === "like") {
            $('#is-like-' + postId).show();
            $('#un-like-' + postId).hide();
        } else if (status === 'un-like') {
            $('#is-like-' + postId).hide();
            $('#un-like-' + postId).show();
        }
        updateCountLike(postId)
    }

    function updateCountLike(postId) {
        $.ajax({
            url: "http://localhost:8080/api/like/list",
            type: "post",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                id: postId
            }),
            success: function (data) {
                $('#like-count-' + postId).html(data.length + ' likes')
            }
        });
    }

    function getListLike(postId) {
        $.ajax({
            url: `http://localhost:8080/api/like/list`,
            method: 'POST',
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify({
                id: postId
            }),
            success: function (data) {
                showListLike(data);
            },
            error: function (xhr, status, error) {
                console.log('Lỗi khi chấp nhận lời mời kết bạn:', error);
            }
        });
    }

    function showListLike(data) {
        $('#listLike').empty();
        data.forEach(item => {
            const likeHtml = `
                <a href="/user/${item.user.id}">
                    <li>
                        <div style="width: 459px">
                            <img src="${item.user.profilePic}"
                                 alt="Profile" class="profile-img">
                            <p style="color: black; display: inline-block">${item.user.fullName}</p>
                        </div>
                    </li>
                </a>`;
            $('#listLike').append(likeHtml);
        });
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>