<!DOCTYPE html>
<html lang="vn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vngram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/property/home/home.css}">
    <link rel="stylesheet" th:href="@{/property/suggest_friend/suggest.css}">
</head>
<body>
<div class="container-fluid main-container ">
    <div class="sidebar-left" style="width: 15%;margin-top: -3%;">
        <a href="/home"><h3 class="mb-3">𝓥𝓷𝓰𝓻𝓪𝓶</h3></a>
        <a class="link-icon ms-3" href="/home"><i class="fa-brands fa-instagram home icons2"></i><span>Trang chủ</span></a>
        <a class="link-icon" href=""><i class="fas fa-search icons2" title="Search"></i><span>Tìm kiếm</span></a>
        <a class="link-icon" href="/notification"><i class="far fa-heart icons2"
                                                     title="Likes"></i><span>Thông báo</span></a>
        <a class="link-icon" href="/message"> <i class="fa-regular fa-message icons2"></i><span>Tin nhắn</span></a>
        <a class="link-icon" th:href="@{/user/__${user.id}__}"><i class="far fa-user icons2"
                                                                  title="Profile"></i><span>Trang cá nhân</span></a>
        <a class="link-icon" style="margin-top: 100%" href="/logout"><i
                class="fa-solid fa-arrow-right-from-bracket icons2"
                title="Logout"></i><span>Đăng xuất</span></a>
    </div>
    <div class="w-80 list" style="width: 100vh">
        <div class="list-add mb-3">
            <h1 class="suggest">Thông báo</h1>
            <div th:each="noti,notiIdx : ${listNoti}">
                <a id="notiItem"
                   th:data-id="${noti.getId()}"
                   th:href="${noti.getPost() != null ? '/post/view/' + noti.getPost().getId() : '/user/' + noti.sender.getId()}"
                   class=" d-flex flex-column-1 justify-content-center align-items-center w-100  mb-3">
                    <img th:src="${noti.sender.profilePic}" alt="" class="me-2 avatar-img ">
                    <div class="d-flex align-items-center flex-grow-1 " style="margin-left: 8px">
                        <span class="name-real text-muted" style="font-size: large;font-weight: bold"
                              th:text="${noti.sender.fullName}"></span>
                        <span class="text-muted fs-6"
                              th:style="${!noti.isRead} ? 'font-weight: bold;margin-left: 25px' : 'margin-left: 25px'"
                              th:text="${noti.message}"></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="container mt-5 text-align:center footer" style="font-size: small;width: 140% ;margin-left: -3%">
            <div class="  d-flex justify-content-between support" style="width: 95%;;margin-top: 8%">
                <a href="">Meta</a>
                <a href="">Giới thiệu</a>
                <a href="">Blog</a>
                <a href="">Việc làm</a>
                <a href="">Trợ giúp</a>
                <a href="">Quyền riêng tư</a>
                <a href="">Điều khoản</a>
                <a href="">Vị trí</a>
                <a href="">Vngram Lite</a>
                <a href="">Threads</a>
                <a href="">Tải thông tin người liên hệ lên & người không phải người dùng</a>
                <a href="">Meta đã xác minh</a></div>
            <div class="mt-3 pb-5 " style="font-size: small;color:#787878;margin-left: 40%  ">
                © 2024 Instagram from Meta
            </div>
        </div>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const items = document.querySelectorAll('.suggestion-item');
        const maxVisible = 4;
        items.forEach((item, index) => {
            if (index < maxVisible) {
                item.parentElement.style.display = 'block';
            } else {
                item.parentElement.style.display = 'none';
            }
        });
    });

    $(document).on("click", "#notiItem", function (event) {
        event.preventDefault()
        let notiId = $(this).data("id");
        $.ajax({
            url: 'http://localhost:8080/api/notification/update/' + notiId,
            method: 'PUT',
            data: {isRead: true},
            success: (response) => {
                console.log("Notification updated successfully");
                window.location.href = $(event.target).closest('a').attr('href');
            },
            error: (error) => {
                console.error("Error updating notification", error);
            }
        });
    })
</script>
</body>
</html>