<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bình luận Bài viết Instagram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/property/view_post/view_post.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.0.3/dist/index.min.js"></script>
</head>
<body>
<div class="container">
    <div class="post-image">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <th:block th:each="media,s :${post.mediaList}">
                    <div th:class="'carousel-item' + ${s.count == 1 ? ' active':''}">
                        <img th:src="@{__${media.mediaUrl}__}"
                             th:alt="'media '+${s.count}">
                    </div>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="comment-section">
        <div class="post-header d-flex justify-content-between">
            <a th:href="@{/user/__${post.user.id}__}">
                <div><img th:src="@{__${post.user.profilePic}__}" style="object-fit: cover"
                          alt="User Avatar">
                    <span style="font-size: 16px;font-weight: bold" th:text="${post.user.fullName}"></span></div>
            </a>
            <a href="/home" style="margin-bottom: 40px">
                <i class="fa-solid fa-x"></i></a>
        </div>
        <div class="story" style="font-size: 15px" th:text="${post.post.content}">
            Nội dung
        </div>
        <div class="comment-list">
            <div class="comment" th:each="comment : ${post.commentList}">
                <img th:src="@{__${comment.user.profilePic}__}"
                     style="object-fit: cover" alt="User Avatar">
                <div class="comment-content">
                    <strong th:text="${comment.user.fullName}"></strong>
                    <span th:text="${comment.content}" th:id="'c-content' + ${comment.id}"></span>
                    <div class="time-like">
                <span class="day ml-3" th:text="${comment.createdAt}">
                    5 ngày
                </span>
                        <span class="like ml-3"> 12 lượt thích </span>
                        <span class="answer ml-3">Trả lời</span>
                        <a href=""><i class="fa-solid fa-heart icon-comment" style="color:#737373"></i></a>
                    </div>
                </div>
                <a href="#" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${comment.id}"
                   style="margin-left: -4%">
                    <i class="fa-solid fa-ellipsis"></i>
                </a>
                <div class="modal fade" th:id="'modal-' + ${comment.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <th:block th:if="${user.id == comment.user.id}">
                                    <a href="#" data-bs-dismiss="modal" class="c-edit-btn"
                                       th:data-comment-id="${comment.id}"
                                       th:data-comment-content="${comment.content}">
                                        <div class="modal-a a1 text-center">
                                            Chỉnh sửa
                                        </div>
                                    </a>
                                </th:block>
                                <th:block th:if="${user.id == comment.user.id || user.id == post.user.id}">
                                    <a th:href="@{/comment/delete/__${comment.id}__/__${post.post.id}__}">
                                        <div class="modal-a text-center">
                                            Xoá
                                        </div>
                                    </a>
                                </th:block>
                                <th:block th:if="${user.id != comment.user.id}">
                                    <a href="#">
                                        <div class="modal-a a1 text-center">
                                            Báo cáo
                                        </div>
                                    </a>
                                </th:block>
                                <a href="#" data-bs-dismiss="modal">
                                    <div class="modal-a a1 text-center">
                                        Huỷ
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot">
            <div class="icon-foot">
                <a href=""><i class="bi bi-heart;" style="display: block"></i></a>
                <a href=""><i class="fa-solid fa-heart  " style="color:red;display: inline-block"></i></a>
                <a href=""><i class="bi bi-chat"></i></a>
                <a href=""><i class="bi bi-send"></i></a>
            </div>
            <div>
                <p style="font-weight: bold;font-size: 15px" class="total_like"
                   th:text="${post.like} + ' lượt thích'">111.23 lượt thích </p>
                <div class="day-foot">
                    <span class="day day-foot" th:text="${post.post.createdAt}"> 27 tháng 9</span>
                </div>
            </div>
        </div>
        <div class="input-area">
            <a href="#" style="font-size: 30px;margin-right:5px" id="emoji-btn">🙂</a>
            <input type="text" class="form-control" placeholder="Nhập bình luận..." id="comment"
                   onkeydown="handleEnterPress(event)" oninput="checkInput()">
            <button class="btn btn-primary" id="send" data-mode="add" disabled>Gửi</button>
        </div>
    </div>
</div>
<div id="post" th:attr="data-id=${post.post.id}"></div>
<script>
    const picker = new EmojiButton();
    const button = document.querySelector('#emoji-btn');
    const input = document.querySelector('#comment');
    button.addEventListener('click', () => {
        picker.togglePicker(button);
    });
    picker.on('emoji', emoji => {
        input.value += emoji;
        $('#send').prop('disabled', false);
    });
    var commentId = null;
    document.addEventListener('DOMContentLoaded', function () {
        const cEditButtons = document.querySelectorAll('.c-edit-btn');
        cEditButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                document.getElementById('comment').value = this.getAttribute('data-comment-content');
                commentId = this.getAttribute("data-comment-id");
                const sendButton = document.getElementById('send');
                sendButton.textContent = 'Lưu';
                sendButton.dataset.mode = 'edit';
                $('#send').prop('disabled', false);
            });
        });
    });

    const postElement = document.getElementById('post');
    const postId = postElement.getAttribute('data-id');

    function handleEnterPress(event) {
        if (event.key === "Enter") {
            const input = document.getElementById("comment");
            if (input.value.trim() !== "") {
                $('#send').prop('disabled', true);
                sendComment();
            }
        }
    }

    function checkInput() {
        const input = document.getElementById("comment");
        const sendButton = document.getElementById("send");
        if (input.value.trim() !== "") {
            sendButton.disabled = false;
        } else {
            if (sendButton.dataset.mode === 'edit') {
                sendButton.textContent = 'Gửi';
                sendButton.dataset.mode = 'add';
            }
            sendButton.disabled = true;
        }
    }

    document.getElementById('send').onclick = function () {
        $('#send').prop('disabled', true);
        sendComment();
    };

    function sendComment() {
        const content = document.getElementById('comment').value;
        const sendButton = document.getElementById("send");
        if (sendButton.dataset.mode === 'add') {
            $.ajax({
                url: "http://localhost:8080/comment/create",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    post: {
                        id: postId
                    },
                    content: content
                }),
                success: function () {
                    location.reload();
                }
            });
        } else {
            $.ajax({
                url: "http://localhost:8080/comment/edit",
                type: "post",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    id: commentId,
                    content: content
                }),
                success: function () {
                    location.reload();
                }
            });
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>