<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bình luận Bài viết Instagram</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/property/view_post/view_post.css}">
    <style>
        .modal-edit {
            .custom_dropdown {
                border: none; /* Loại bỏ viền của nút */
                background-color: transparent; /* Làm cho nền trong suốt */
                font-size: 24px; /* Kích thước của biểu tượng */
                color: #000; /* Màu sắc của biểu tượng */
                cursor: pointer; /* Hiển thị con trỏ khi hover */
            }

            .custom_dropdown::after {
                display: none!important;
               color: white
            }
            margin-left: 10% !important;
            margin-top: 20%;
        }
        .hide-t{
            z-index: 10000;
            bottom: 19%;
          right: 23%;
            background-color: #ffffff;
            position: absolute;
            width: 7px;
            height: 7px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="post-image">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <th:block th:each="media,s :${post.mediaList}">
                    <div th:class="'carousel-item' + ${s.count == 1 ? ' active':''}">
                        <img th:src="@{__${media.mediaUrl}__}"
                             th:alt="'media '+${s.count}">
                    </div>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="comment-section">
        <div class="post-header d-flex justify-content-between">
            <div><img th:src="@{__${post.user.profilePic}__}" style="object-fit: cover"
                      alt="User Avatar">
                <span style="font-size: 16px;font-weight: bold" th:text="${post.user.fullName}"></span></div>
            <a href="/home" style="margin-bottom: 40px">
                <i class="fa-solid fa-x"></i>
            </a>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content modal-edit">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                style="margin-left: 36%;font-weight: bold">Chỉnh sửa bài viết</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="">
                            <div class="modal-body ">
                                <div class="d-flex mb-3 mt-2 ms-2">
                                    <img src="https://via.placeholder.com/40" alt="Profile Picture"
                                         class="profile-pic me-2">
                                    <div>
                                        <h6 class="mb-0" style="font-weight: bold">John Doe</h6>
                                        <small class="text-muted">Public</small>
                                    </div>
                                </div>
                                <!-- Form chỉnh sửa bài viết -->
                                <form id="editPostForm">
                                    <div class="mb-3">
                                        <textarea class="form-control custom-textarea" id="postContent" rows="10"
                                                  style="border:none;box-shadow: none;font-size: 20px"></textarea>
                                    </div>
                                    <div style=" display: flex;justify-content: flex-end;">
                                        <a href="" style="margin-right: 5px;margin-bottom: 5px">
                                            <span style="font-size: 30px"> 😊</span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer" style="padding: 0">
                                <button type="button" class="btn btn-primary"
                                        style="width: 96%;height: 40px;margin-right: 1.5%">Lưu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="story" style="font-size: 15px" th:text="${post.post.title}">
            đây là một câu chuyện cảm động nhà quý vị ơi
            đây là một câu chuyện cảm động nhà quý vị ơi
        </div>
        <div class="story" style="font-size: 15px" th:text="${post.post.content}">
            đây là một câu chuyện cảm động nhà quý vị ơi
            đây là một câu chuyện cảm động nhà quý vị ơi
        </div>
        <div class="comment-list">
            <div class="comment" th:each="comment : ${post.commentList}">
                <img th:src="@{__${comment.user.profilePic}__}"
                     style="object-fit: cover" alt="User Avatar">
                <div class="comment-content">
                    <strong th:text="${comment.user.fullName}"></strong>
                    <span th:text="${comment.content}"></span>
                    <div class="time-like">
                <span class="day ml-3" th:text="${comment.createdAt}">
                    5 ngày
                </span>
                        <span class="like ml-3"> 12 lượt thích </span>
                        <span class="answer ml-3">Trả lời</span>
                        <a href=""><i class="fa-solid fa-heart icon-comment" style="color:#737373"></i></a>
                    </div>
                </div>
                <a href="" data-bs-toggle="modal" th:data-bs-target="'#modal-' + ${comment.id}"
                   style="margin-left: -4%">
                    <i class="fa-solid fa-ellipsis"></i>
                </a>
                <div class="modal fade" th:id="'modal-' + ${comment.id}" tabindex="-1"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body">
                                <a href="#">
                                    <div class="modal-a a1 text-center">
                                        Chỉnh sửa
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="modal-a text-center">
                                        Xoá
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="modal-a text-center">
                                        Báo cáo
                                    </div>
                                </a>
                                <a href="#" data-bs-dismiss="modal">
                                    <div class="modal-a a1 text-center">
                                        Huỷ
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot d-flex justify-content-between">
            <div>
                <div class="icon-foot">
                    <a href=""><i class="bi bi-heart;" style="display: block"></i></a>
                    <a href=""><i class="fa-solid fa-heart  " style="color:red;display: inline-block"></i></a>
                    <a href=""><i class="bi bi-chat"></i></a>
                    <a href=""><i class="bi bi-send"></i></a>
                </div>
                <div>
                    <p style="font-weight: bold;font-size: 15px" class="total_like"
                       th:text="${post.like} + ' lượt thích'">111.23 lượt thích </p>
                    <div class="day-foot">
                        <span class="day day-foot" th:text="${post.post.createdAt}"> 27 tháng 9</span>
                    </div>
                </div>
            </div>
<div class="hide-t">

</div>
            <div class="dropdown">
                <a class="dropdown-toggle custom_dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Chỉnh sửa</a></li>
                    <li><a class="dropdown-item" href="#">Xoá</a></li>
                    <li><a class="dropdown-item" href="#">Báo cáo</a></li>
                </ul>
            </div>

        </div>
        <div class="input-area">
            <a href="" style="font-size: 30px;margin-right:5px">🙂</a>
            <input type="text" class="form-control" placeholder="Nhập bình luận..." id="comment"
                   onkeydown="handleEnterPress(event)" oninput="checkInput()">
            <button class="btn btn-primary" id="send" disabled>Gửi</button>
        </div>
    </div>
</div>
<div id="post" th:attr="data-id=${post.post.id}"></div>
<script>
    const postElement = document.getElementById('post');
    const postId = postElement.getAttribute('data-id');

    function handleEnterPress(event) {
        if (event.key === "Enter") {
            const input = document.getElementById("comment");
            if (input.value.trim() !== "") {
                $('#send').prop('disabled', true);
                sendComment();
            }
        }
    }

    function checkInput() {
        const input = document.getElementById("comment");
        const sendButton = document.getElementById("send");
        if (input.value.trim() !== "") {
            sendButton.disabled = false;
        } else {
            sendButton.disabled = true;
        }
    }

    document.getElementById('send').onclick = function () {
        $('#send').prop('disabled', true);
        sendComment();
    };

    function sendComment() {
        const content = document.getElementById('comment').value;
        $.ajax({
            url: "http://localhost:8080/comment/create",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                post: {
                    id: postId
                },
                content: content
            }),
            success: function (data) {
                displayComment(data);
            }
        });
    }

    function displayComment(data) {
        console.log(data.createdAt)
        $('.comment-list').prepend(`
          <div class="comment">
                <img src="${data.user.profilePic}"
                     style="object-fit: cover" alt="User Avatar">
                <div class="comment-content">
                    <strong>${data.user.fullName}</strong> <span>${data.content}</span>
                    <div class="time-like ">
                        <span class="day ml-3">${data.createdAt}</span>
                        <span class="like ml-3"> 12 lượt thích </span>
                        <span class="answer ml-3">Trả lời</span>
                        <a href=""><i class="fa-solid fa-heart icon-comment" style="color:#737373"></i></a>
                    </div>
                </div>
            </div>`);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>


</body>
</html>